body {
  margin: 50;
  border: solid .1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  width: 33%;
  height: 40px;
  background-color: rgb(71, 114, 170);
  color: white;
  text-decoration: solid;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-weight: bolder;
}

button:hover {
  background-color: rgb(162, 233, 39);
}

section {
  width: 99%;
  height: 30rem;
  background-color: rgb(222, 224, 228);
  color: rgb(28, 10, 10);
  text-decoration: solid;
  font-size: 16px;
  margin: 4px 2px;
 
  border: solid 2px;
}
